<h1>New Transaction Category</h1>
<%= form_with model: @transaction_category, local: true do |form| %>
  <% if @transaction_category.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@transaction_category.errors.count, "error") %> prohibited
        this transaction category from being saved:
      </h2>
      <ul>
        <% @transaction_category.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>

  <p>
    <%= form.label 'Account Type' %><br>
    <%= form.collection_select(:account_type_id, AccountType.all, :id, :name) %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>